/* .Signup-screen {
  display: flex;
  justify-content: center;
  align-items: center; */
/* width: 1440px;
  height: 789px;
  padding: 98px 392px 99px 392px; */

.Digi-Reg-Logo {
	width: 100px;
	height: 100px;
}

/* .Signup-content {
  display: flex;
  flex-direction: column;
  gap: 53px;
  width: 512px;
  height: 494px;
  /* align-items: center; */
/* justify-content: center;
} */

/* .Signup-screen-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
} */

/* .Signup-screen-forms {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 494px;
  align-items: center;
  justify-content: center;
  gap: 35px;
} */
/* 
.Signup-textfields {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
} */

/* /* .Signup-text{
    color: #1f7a8c;
} */
